@font-face {
    font-family: 'TT Lakes Regular';
    src: url('font/TT\ Lakes\ Regular.woff');
}

*, *:before, :after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'TT Lakes Regular', sans-serif;
}

body {
    max-width: 1180px;
    margin: auto;
    background-color: #f8f8f8;
}

.content-title {
    background: linear-gradient(90deg,#f8f8f8,#fff);
    padding: 16px;
    border-top: 2px solid #d9fff5; 
}

.content-text {
    color: #7e7e82;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 24px;
    font-size: 10px;
}

.outer-cover {
    padding: 20px 0 10px;
}

.swiper-wrapper {
    padding: 0 35px;
    margin-bottom: 35px;
    margin-left: 11px;
    
}

.swiper-slide:nth-child(n + 9) {
    display: none;
}

.swiper-pagination-bullet {
    background: #dddddd;
    width: 10px;
    height: 10px;
    opacity: 1;
    margin: 30px 10px;
}

.swiper-pagination-bullet-active {
    background-color: rgb(117, 112, 112);
}

.show-more__button {
    display: none;
}

.toggle-button {
    margin-top: 8px;
    border: none;
    background-color: #f8f8f8;
    font-family: 'TT Lakes Regular', sans-serif;
    font-weight: 700;
}

@media (min-width: 1120px) {
    .content-title {
        background: linear-gradient(90deg,#f8f8f8,#fff);
        padding: 20px;
        border-top: 2px solid #d9fff5; 
    }
    .content-text {
        color: #7e7e82;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-left: 20px;
        padding: 0 20px;
        font-size: 10px;
    }
    .swiper-wrapper {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: space-between;
    }
    .swiper-slide {
        width: 24%;
        margin-bottom: 1.333333%;
    }
    .swiper-slide:not(:nth-child(4n)){
        margin-right: 1.333333%;
    }
    .show-more__button {
        display: flex;
        margin-left: 25px;
    }
}

@media (min-width: 768px) and (max-width: 1119px) {
    .swiper-wrapper {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 5px;
    }
    .swiper-slide {
        width: 33.333%;
        margin-bottom: 10px;
    }
   .show-more__button {
        display: flex;
        margin-left: 25px;
    }
}

